# Cleaning and Exploring PPP Loan Data: Python
## Project Description
In this project, we use Python to import data from both Excel and .CSV files from the Small Business Administrations' (SBA) Paycheck Protection Program (PPP). In the first section we cover the process of cleaning the data and preparing it for analytical purposes. Next, during the exploration process we analyze the data utilizing the pandas, NumPy, matplotlib, and seaborn libraries to gain insights.

#### Importing Libraries

In [22]:
import pandas as pd
import numpy as np

#### Read Data

In [23]:
data=pd.read_excel('NAICS_Size Standards.xlsx',sheet_name='table_of_size_standards-all')

In [24]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards in millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2.25,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2.25,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.75,NaN,NaN

In [25]:
data.tail()

,NAICS Codes,NAICS Industry Description,Size standards in millions of dollars,Size standards in number of employees,Footnotes
1100,813930,Labor Unions and Similar Labor Organizations,16.5,NaN,NaN
1101,813940,Political Organizations,14,NaN,NaN
1102,813990,"Other Similar Organizations (except Business, ...",13.5,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

#### More Concise .info()

In [26]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 5 columns):
NAICS Codes                               1082 non-null object
NAICS Industry Description                1019 non-null object
Size standards
in millions of dollars    513 non-null object
Size standards in number of employees     483 non-null float64
Footnotes                                 37 non-null object
dtypes: float64(1), object(4)
memory usage: 43.2+ KB

#### Checking for NULLS

In [27]:
data.isnull().sum()

NAICS Codes                                  23
NAICS Industry Description                   86
Size standards \nin millions of dollars     592
Size standards in number of employees       622
Footnotes                                  1068
dtype: int64

#### Retrieve Relevant Records

In [28]:
data = data[data['NAICS Codes'].isnull()]
data.head()

,NAICS Codes,NAICS Industry Description,Size standards in millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN
112,NaN,Sector 23 – Construction,NaN,NaN,NaN
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1104
Data columns (total 5 columns):
NAICS Codes                               0 non-null object
NAICS Industry Description                23 non-null object
Size standards
in millions of dollars    0 non-null object
Size standards in number of employees     0 non-null float64
Footnotes                                 1 non-null object
dtypes: float64(1), object(4)
memory usage: 1.1+ KB

#### Derive LookupCodes Column

In [30]:
data['LookupCodes'] = data['NAICS Industry Description'].str.slice(start=7,stop=9)
data.head()

,NAICS Codes,NAICS Industry Description,Size standards in millions of dollars,Size standards in number of employees,Footnotes,LookupCodes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31

#### Column Length

In [31]:
data['NAICS Industry Description'].str.len()

0        54
71       57
96       21
112      24
149      30
517      27
518     537
591      29
592     537
659      47
729      23
765      33
804      46
836      59
893      51
897      84
945      32
965      45
1009     46
1038     43
1056     57
1103     33
1104    284
Name: NAICS Industry Description, dtype: int64

#### Derive Sector Column

We will use the max length of the record in the "NAICS Industry Description" column plus 1 as our ending value of the slice function.

In [33]:
data['Sector']=data['NAICS Industry Description'].str.slice(12, 538)
data.head()

,NAICS Codes,NAICS Industry Description,Size standards in millions of dollars,Size standards in number of employees,Footnotes,LookupCodes,Sector
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,33 – Manufacturing

#### Isolate Relevant Columns

In [34]:
data=data[['NAICS Industry Description','LookupCodes','Sector']]
data.head(10)

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
518,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
592,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing

#### Isolate Numeric Records

In [35]:
data = data[data['LookupCodes'].str.isnumeric()]
data

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration

#### Replace Values in Column

In [36]:
data.loc[data['Sector']=='33 – Manufacturing','Sector']='Manufacturing'
data

data['Sector']=np.where(data['Sector']=='45-Retail Trade', 'Retail Trade', data['Sector'])

In [37]:
data.loc[data['Sector']=='45 – Retail Trade','Sector']='Retail Trade'
data.loc[data['Sector']=='49 – Transportation and Warehousing','Sector']='Transportation and Warehousing'

#### Insert Records into Dataframe

Build a dictionary that matches the key value pairs of the dataframe and append it to the dataframe

In [38]:
df2={'NAICS Industry Description':'Sector 31 – 33 – Manufacturing','LookupCodes':32,'Sector':'Manufacturing'}
data=data.append(df2,ignore_index=True)

df3={'NAICS Industry Description':'Sector 31 – 33 – Manufacturing','LookupCodes':33,'Sector':'Manufacturing'}
data=data.append(df3,ignore_index=True)

df4={'NAICS Industry Description':'Sector 44 - 45 – Retail Trade','LookupCodes':45,'Sector':'Retail Trade'}
data=data.append(df4,ignore_index=True)

df5={'NAICS Industry Description':'Sector 48 - 49 – Transportation and Warehousing','LookupCodes':49,'Sector':'Transportation and Warehousing'}
data=data.append(df5,ignore_index=True)

In [39]:
data

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
1,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
2,Sector 22 – Utilities,22,Utilities
3,Sector 23 – Construction,23,Construction
4,Sector 31 – 33 – Manufacturing,31,Manufacturing
5,Sector 42 – Wholesale Trade,42,Wholesale Trade
6,Sector 44 - 45 – Retail Trade,44,Retail Trade
7,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
8,Sector 51 – Information,51,Information
9,Sector 52 – Finance and Insurance,52,Finance and Insurance
10,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
11,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
12,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
13,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
14,Sector 61 – Educational Services,61,Educational Services
15,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
16,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
17,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
18,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
19,Sector 92 – Public Administration,92,Public Administration
20,Sector 31 – 33 – Manufacturing,32,Manufacturing
21,Sector 31 – 33 – Manufacturing,33,Manufacturing
22,Sector 44 - 45 – Retail Trade,45,Retail Trade
23,Sector 48 - 49 – Transportation and Warehousing,49,Transportation and Warehousing

#### Export DataFrame to .csv File

In [40]:
data.to_csv('clean_data.csv', encoding='utf-8',index=False)